@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');


* {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}


#mensaje {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.mensaje-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mensaje-heading span {
    color: #03A9F4;
}

.mensaje-heading h3 {
    font-size: 2.4rem;
    color: #2b2b2b;
    font-weight: 600;
}

.mensaje-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    flex-wrap: wrap;
}

.mensaje-box {
    width: 350px;
    background-color: #fff;
    border: 1px solid #ececec;
    margin: 20px;
}

.mensaje-img {
    width: 100%;
    height: auto;
}

.mensaje-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.mensaje-text {
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.mensaje-text span {
    color: #03A9F4;
    font-size: 0.9rem;
}

.mensaje-text .mensaje-title {
    font-size: 1.3rem;
    font-weight: 500;
    color: #272727;
}

.blomensajeg-text .mensaje-title:hover {
    color: #f33c3c;
    transition: all ease 0.3s;
}

.mensaje-text p {
    color: #9b9b9b;
    font-size: 0.9rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 20px 0px;
}

.mensaje-text a {
    color: #0f0f0f;
}

.mensaje-text a:hover {
    color: #f33c3c;
    transition: all ease 0.3s;
}


@media (max-width: 1100px) {

    .mensaje-box {
        width: 70%;
    }

}

@media (max-width: 550px) {

    .mensaje-box {
        margin: 20px 10px;
        width: 100%;
    }

    #mensaje {
        padding: 20px;
    }

}